## EDA (Exploratory Data Analysis) 탐색적 데이터 분석

In [1]:
!wget 'https://bit.ly/3gLj0Q6'

--2022-09-07 11:13:11--  https://bit.ly/3gLj0Q6
Resolving bit.ly (bit.ly)... 67.199.248.11, 67.199.248.10
Connecting to bit.ly (bit.ly)|67.199.248.11|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E [following]
--2022-09-07 11:13:12--  https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E
Resolving drive.google.com (drive.google.com)... 142.251.42.206, 2404:6800:400a:80a::200e
Connecting to drive.google.com (drive.google.com)|142.251.42.206|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/9p1nbaj3iarjbkbulkvmo1kv5fvhlako/1662516750000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download&uuid=92970ff9-c2dc-4bff-9cb5-9e889868fe22 [following]
Warning: wildcards not supported in HTTP.
--2022-09-07 11:13:12--  https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/9p1nbaj3iarjbkbulkvmo1kv5fvhlako/1662516750000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download&uuid=92970ff9-c2dc-4bff-9cb5-9e889868fe22
Resolving doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)... 142.250.206.225, 2404:6800:4004:81d::2001
Connecting to doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)|142.250.206.225|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 39208 (38K) [application/zip]
Saving to: ‘3gLj0Q6’

3gLj0Q6             100%[===================>]  38.29K  --.-KB/s    in 0.05s

2022-09-07 11:13:13 (790 KB/s) - ‘3gLj0Q6’ saved [39208/39208]

In [2]:
import zipfile
with zipfile.ZipFile ('3gLj0Q6', 'r') as existing_zip:
    existing_zip.extractall('data')

### Lv1 EDA 1/5 python 파이썬 라이브러리 불러오기(import)

In [3]:
import pandas as pd

### Lv1 EDA 2/5 python 파이썬 파일 불러오기(read_csv)

In [4]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

### Lv1 EDA 4/5 python 파이썬 데이터 확인하기(head())

In [5]:
train.head()

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
0,3,20,16.3,1.0,1.5,89.0,576.0,0.027,76.0,33.0,49.0
1,6,13,20.1,0.0,1.4,48.0,916.0,0.042,73.0,40.0,159.0
2,7,6,13.9,0.0,0.7,79.0,1382.0,0.033,32.0,19.0,26.0
3,8,23,8.1,0.0,2.7,54.0,946.0,0.040,75.0,64.0,57.0
4,9,18,29.5,0.0,4.8,7.0,2000.0,0.057,27.0,11.0,431.0

In [6]:
train.head(10)

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
0,3,20,16.3,1.0,1.5,89.0,576.0,0.027,76.0,33.0,49.0
1,6,13,20.1,0.0,1.4,48.0,916.0,0.042,73.0,40.0,159.0
2,7,6,13.9,0.0,0.7,79.0,1382.0,0.033,32.0,19.0,26.0
3,8,23,8.1,0.0,2.7,54.0,946.0,0.040,75.0,64.0,57.0
4,9,18,29.5,0.0,4.8,7.0,2000.0,0.057,27.0,11.0,431.0
5,13,2,13.6,0.0,1.7,80.0,1073.0,0.027,34.0,15.0,39.0
6,14,3,10.6,0.0,1.5,58.0,1548.0,0.038,62.0,33.0,23.0
7,16,21,16.0,0.0,6.0,21.0,1961.0,0.050,90.0,28.0,146.0
8,19,9,13.8,0.0,1.9,64.0,1344.0,0.039,93.0,19.0,39.0
9,20,14,17.2,0.0,2.1,32.0,1571.0,0.025,64.0,19.0,83.0

### Lv1 EDA 3/5 python 파이썬 행 열 갯수 관찰하기(shape)

In [7]:
print(train.shape)
print(test.shape)

(1459, 11)
(715, 10)

### Lv1 EDA 5/5 python 파이썬 결측치 확인하기(is_null() )

- Pandas:결측치를 NaN 으로 표현함
- Pandas에서 isnull() 메서드를 사용하면 DataFrame에서 NaN 값을 확인할 수 있음
- isnull() 메소드: Dataframe에서 데이터가 NaN일 때 True, 그렇지 않으면 False False 리턴

In [8]:
import pandas as pd  # pandas import
import numpy as np  # numpy import

In [9]:
# Declare a pands data frame

df = pd.DataFrame({
    'name': ['kwon', 'park', 'kim'],
    'age': [30, np.nan, 19],
    'class': [np.nan, np.nan, 1]
})

In [10]:
df.isnull()

    name    age  class
0  False  False   True
1  False   True   True
2  False  False  False

### You can see how many missing values exist in the columns of the pandas DataFrame by adding sum() method after isnull() method.

In [11]:
df.isnull().sum()

name     0
age      1
class    2
dtype: int64

### Lv1 전처리 1/2 python 파이썬 데이터 기본 정보 확인하기(info())
Dataframe에 info() 매소드를 사용하면 피쳐들의 기본 정보(결측치와 데이터 타입 등)를 확인할 수 있다.

In [12]:
print(train.info())
print(test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1459 non-null   int64
 1   hour                    1459 non-null   int64
 2   hour_bef_temperature    1457 non-null   float64
 3   hour_bef_precipitation  1457 non-null   float64
 4   hour_bef_windspeed      1450 non-null   float64
 5   hour_bef_humidity       1457 non-null   float64
 6   hour_bef_visibility     1457 non-null   float64
 7   hour_bef_ozone          1383 non-null   float64
 8   hour_bef_pm10           1369 non-null   float64
 9   hour_bef_pm2.5          1342 non-null   float64
 10  count                   1459 non-null   float64
dtypes: float64(9), int64(2)
memory usage: 125.5 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      715 non-null    int64
 1   hour                    715 non-null    int64
 2   hour_bef_temperature    714 non-null    float64
 3   hour_bef_precipitation  714 non-null    float64
 4   hour_bef_windspeed      714 non-null    float64
 5   hour_bef_humidity       714 non-null    float64
 6   hour_bef_visibility     714 non-null    float64
 7   hour_bef_ozone          680 non-null    float64
 8   hour_bef_pm10           678 non-null    float64
 9   hour_bef_pm2.5          679 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 56.0 KB
None

### Lv1 전처리 2/2 python 파이썬 결측치 삭제, 대체(dropna, fillna)

dropna()를 사용하면 결측치가 있는 행을 Pandas DataFrame에서 삭제한다.<br>
결측치 삭제는 가장 쉬운 결측치 처리 방법이나, 위험성이 있기 때문에 너무 자주 사용하면 안 된다.<br><br>
fillna()를 사용하면 모든 결측치를 원하는 인자 값으로 대체할 수 있다.<br>
이때 결측치를 대체하는 인자 값은 스칼라 값(scalar value)도 가능하고, 문자열(string)도 가능하다.

In [13]:
train = train.dropna()
print(train.info())
print(train.shape)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1328 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1328 non-null   int64
 1   hour                    1328 non-null   int64
 2   hour_bef_temperature    1328 non-null   float64
 3   hour_bef_precipitation  1328 non-null   float64
 4   hour_bef_windspeed      1328 non-null   float64
 5   hour_bef_humidity       1328 non-null   float64
 6   hour_bef_visibility     1328 non-null   float64
 7   hour_bef_ozone          1328 non-null   float64
 8   hour_bef_pm10           1328 non-null   float64
 9   hour_bef_pm2.5          1328 non-null   float64
 10  count                   1328 non-null   float64
dtypes: float64(9), int64(2)
memory usage: 124.5 KB
None
(1328, 11)

In [14]:
test = test.fillna(0)
print(test.info())
print(test.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      715 non-null    int64
 1   hour                    715 non-null    int64
 2   hour_bef_temperature    715 non-null    float64
 3   hour_bef_precipitation  715 non-null    float64
 4   hour_bef_windspeed      715 non-null    float64
 5   hour_bef_humidity       715 non-null    float64
 6   hour_bef_visibility     715 non-null    float64
 7   hour_bef_ozone          715 non-null    float64
 8   hour_bef_pm10           715 non-null    float64
 9   hour_bef_pm2.5          715 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 56.0 KB
None
(715, 10)